* {
    font-family: Avenir;
}

.hide {
    display: none !important;
}

body {
    background-color: #f7f4dd;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* header */
header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

header img {
    height: 75%;
    margin: 0 40px;
}

header .site-name {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #014700;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

@media (min-width: 1200px) {
    header .site-name {
        font-size: 3.5em;
        font-weight: 500;
    }
}

/* filters section */
.filters {
    flex: 1;
    flex-wrap: wrap;
    padding: 0 50px;
}

@media (min-width: 1200px) {
    .filters {
        padding: 0 150px;
    }
}

.filters ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

.filters ul li {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

.filters ul li button {
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: #014700;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    padding-left: 12px;
}

@media (min-width: 1200px) {
    .filters ul li button {
        font-size: 20px;
    }

    .filters ul li button::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #014700;
        left: 0;
        bottom: 0;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
    }

    .filters ul li button:hover::after {
        transform: scale(1, 1);
    }
}

/* recipes section */
.recipes {
    padding: 25px 50px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipes .parent-container {
    width: 100%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.recipes .parent-container .child-container {
    display: flex;
    background: white;
    box-shadow: 8px 8px rgba(1, 71, 0, 0.5);
    border-radius: 15px;
    padding: 20px 15px 10px 15px;
    margin: 0;
    flex-direction: column;
    align-self: stretch;
    width: 375px;
    height: 450px;
    position: relative;
}

.recipes .parent-container .child-container img {
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
}

.recipes .parent-container .child-container .recipe-container-footer {
    position: absolute;
    bottom: 20px;
}

.recipes .parent-container .child-container .recipe-name p {
    font-size: 27px;
    font-weight: 500;
    margin: 10px 0 0 0;
    padding: 5px;
    word-break: break-all;
}

@media (min-width: 1200px) {
    .recipes .parent-container {
        width: 90%;
    }

    .recipes .parent-container .child-container {
        width: 400px;
        height: 500px;
        position: relative;
    }

    .recipes .parent-container .child-container img {
        height: 350px;
    }

    .recipes .parent-container .child-container .recipe-name p {
        font-size: 25px;
    }
}

.recipes .parent-container .child-container .tags ul {
    list-style: none;
    text-align: end;
    display: inline-flex;
    margin: 0;
    margin-block: 0;
    padding-inline: 0;
    flex-wrap: wrap;
}

.recipes .parent-container .child-container .tags ul li {
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgba(1, 71, 0, 0.1);
    border-radius: 10px;
}

.recipes .parent-container .child-container .tags ul li p {
    margin: 0;
    padding: 5px;
    font-size: 20px;
}

@media (min-width: 1200px) {
    .recipes .parent-container .child-container .tags ul li p {
        font-size: 18px;
    }
}
