* {
    font-family: Avenir;
}

.hide {
    display: none !important;
}

body {
    background-color: #f7f4dd;
    margin: 0;
    font-size: 17px;
}

header {
    display: flex;
    vertical-align: middle;
    justify-content: start;
    align-items: center;
    background: rgba(247, 244, 221, 0.9);
    color: #f7f4dd;
    padding: 0 30px;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin: 5px 0;
}

@media (max-width: 1500px) {
    .filters {
        display: none !important;
    }
}

header nav img {
    height: 95%;
    padding: 5px 0;
}

nav .filters {
    flex: 1;
}

nav .filters ul {
    list-style: none;
    text-align: end;
}

nav .filters ul li {
    display: inline-block;
    padding: 20px;
}

nav .filters ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #014700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parent-container {
    width: 90%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.child-container {
    display: flex;
    background: white;
    box-shadow: 8px 8px rgba(1, 71, 0, 0.5);
    border-radius: 15px;
    padding: 20px 15px 10px 15px;
    margin: 0;
    flex-direction: column;
    align-self: stretch;
    width: 400px;
    height: 400px;
}

@media (min-width: 980px) {
    .child-container {
        max-width: 500px;
    }
}

.recipes .child-container img {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
}

.recipes .child-container p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 0 0;
    padding: 5px;
    overflow-wrap: break-word;
}

.recipes .child-container .tags ul {
    list-style: none;
    text-align: end;
    display: inline-flex;
    margin: 0;
    margin-block: 0;
    padding-inline: 0;
    flex-wrap: wrap;
}

.recipes .child-container .tags ul li {
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgba(1, 71, 0, 0.1);
    border-radius: 10px;
}

.recipes .child-container .tags ul li p {
    margin: 0;
    padding: 5px;
    font-size: 16px;
}
